*{
    box-sizing: border-box;

}


body{
    
    
}

.container-grid{
    display: grid;
}

.box{
    background-color: antiquewhite;
    border: 2px white solid;
    position: relative;
    padding-top: 100%;
}
.box.clicked{
    background-color: blue;
}

.box-interno{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    


}

div{
    
}
